<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.NexvaryRecorder.Blue">

        <activity android:name=".AboutActivity" android:exported="false" />
        <activity android:name=".LanguageActivity" android:exported="false" />
        <activity android:name=".live.LiveBroadcastActivity" android:exported="false" />
        <activity android:name=".media.AudioReplaceActivity" android:exported="false" />
        <activity android:name=".audio.VoiceRecorderActivity" android:exported="false" />
        <activity android:name=".screen.ScreenRecorderActivity" android:exported="false" />

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>

        <service
            android:name=".live.LiveBroadcastService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

        <service
            android:name=".screen.ScreenRecordService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection|microphone" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
